extends pageLayout
block content
	section.with_sidebar
		.one_third
			h2 What im about
			p
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis bibendum dolor nec sollicitudin. Nam varius nunc sed tortor fringilla facilisis.
			ul.contact
				li
					img(src='/images/icons/black/location.png', alt='')
					| 123, Wall Street, New York
				li
					img(src='/images/icons/black/phone.png', alt='')
					| 123-(456)-1343-1334
				li
					img(src='/images/icons/black/email.png', alt='')
					| contact@projectiontemplate.com
				li
					img(src='/images/icons/black/skype.png', alt='')
					| ProjectionTemplate
		.one_third
			p hello
		.sidebar.one_third
			h2 Core Competencies
			div
			h5 Programming - Javascript\Coffeescript
			div.progress.progress-striped.active
				div.bar(style="width: 90%")
			h5 Programming - Java
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h5 Project Managment - General
			div.progress.progress-striped.active
				div.bar(style="width: 80%")
			h5 Business Analysis - General
			div.progress.progress-striped.active
				div.bar(style="width: 70%") 
			h5 Programming - Javascript\Coffeescript
			div.progress.progress-striped.active
				div.bar(style="width: 90%")
			h5 Programming - Java
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h5 Project Managment - General
			div.progress.progress-striped.active
				div.bar(style="width: 80%")
			h5 Business Analysis - General
			div.progress.progress-striped.active
				div.bar(style="width: 70%")			
			h5 Programming - Javascript\Coffeescript
			div.progress.progress-striped.active
				div.bar(style="width: 90%")
			h5 Programming - Java
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h5 Project Managment - General
			div.progress.progress-striped.active
				div.bar(style="width: 80%")
			h5 Business Analysis - General
			div.progress.progress-striped.active
				div.bar(style="width: 70%")	
		.one_half
			h2 Some Of the Companies Ive Worked For
			ul.accordion
				li
					a.toggle(href='#')
					h4 QBE Insurance
					p
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel diam vel sapien sodales consequat. Mauris non tortor neque, non egestas libero.
				li
					a.toggle(href='#')
					h4 Victorian Department Of Justice
					p
						| Nulla a odio ante, in ultrices metus. Proin eget consequat sem. Proin sed felis nulla.
				li
					a.toggle(href='#')
					h4 Corrections Victoria
					p
						| Donec


