extends layout
block bricks
		section
		- var x = Math.ceil(Math.random() * 3);
		#slider.slider(style='background-image: url(/images/#{x}x1280x300.jpg);')
			section
				ul.full
					li.selected
						h2 Analysis. Design. Implement. Testing. Evaluation. 
						p Ive worked across the whole SDLC						
					li
						h2 No Project is too big or too small
						p Ready to work full time on a project or provide advice for a couple of hours a week
					li
						h2 From Infrastructure to Applications
						p Ive setup large infrastructure as well as delivered complex business applications
				.clearfix
		// Features 
		section
			ul
				li.one_third
					h3
						img(src='images/icons/INTERNET_48x48-32.png', alt='')
						| Thanks for dropping in
					p
						| Ive created this website to showcase my professional career and the services I provide. 
						br
						a.btn.btn-inverse(href="/blog/",style="margin-top:10px")
							i.icon-book.icon-white
							i(style="color:#FFF")  My Blog
						br
						a.btn.btn-inverse(href="/projects/",style="margin-top:10px")
							i.icon-signal.icon-white
							i(style="color:#FFF")  My Github Projects
						br
						a.btn.btn-inverse(href="/screencasts/",style="margin-top:10px")
							i.icon-film.icon-white
							i(style="color:#FFF")  My Youtube Screencasts														
				li.one_third
					h3
						img(src='images/icons/USER-M_48x48-32.png', alt='')
						| About me
					p
						| My core passion in life from the early ages of 8 years old has been Information Technology and I have an appreciation for all of its facets, from application development 
						a.btn.btn-inverse(href="/resume/",style="margin-top:10px")
							i.icon-info-sign.icon-white
							i(style="color:#FFF")  More Info



				li.one_third
					h3
						img(src='images/icons/SYNCAPP_48x48-32.png', alt='')
						| My Services
					p
						| With a focus on on Business applications I am experienced in and able to provide services in the following areas:
						ul.list
							li Application Development
							li Infrastructure Hosting & Configuration
							li Project Management 
							li Business Analysis
						a.btn.btn-inverse(href="/contact/",style="margin-top:10px")
							i.icon-user.icon-white
							i(style="color:#FFF")  Contact Details



			.clearfix
		hr
		// Quote 
		section.quote.grey
			.container
				p.full
					| Think of me as plasticine , able to be molded easily into any shape and fit into any situation.
				.clearfix
		hr

		// Footer 

