extends pageLayout
block content
	section.with_sidebar
		.two_thirds
			h2 Summary
			aside.right
				img(height="220px" ,width="190px" ,src="/images/crazy.jpg")
				p Raadad Elsleiman
			p
				| A dynamic IT Professional with close to 5 years of industry experience. Loves new challenges, usage of latest technologies in the programming realm and a great passion for gaining knowledge. Extremely passionate about computers and software development from an early age and have built a successful career in this industry. Currently seeking a role in a collaborative team where skills can be further developed, take up higher challenges in complex environments along with a good opportunity to work on latest technologies and projects.
			include contact
		.sidebar.one_third
			h4 Core Competencies
			div
			h5 Programming - Javascript\Coffeescript
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h5 Programming - Java
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h5 Programming - Python
			div.progress.progress-striped.active
				div.bar(style="width: 100%")
			h3 &nbsp Technical Skills
			h4 &nbsp &nbsp Languages
			ul.accordion
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Most Used
					p &nbsp &nbsp &nbsp Java
					p &nbsp &nbsp &nbsp Python
					p &nbsp &nbsp &nbsp JavaScript
					p &nbsp &nbsp &nbsp CoffeeScript
					p &nbsp &nbsp &nbsp HTML5
					p &nbsp &nbsp &nbsp CSS3
					p &nbsp &nbsp &nbsp Jade

			h4 &nbsp &nbsp Platforms
			ul.accordion
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Database
					p &nbsp &nbsp &nbsp Oracle
					p &nbsp &nbsp &nbsp MYSQL
					p &nbsp &nbsp &nbsp SQL Server
					p &nbsp &nbsp &nbsp Postgres
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Java - Frameworks
					p &nbsp &nbsp &nbsp JSP/Servlet
					p &nbsp &nbsp &nbsp Hibernate
					p &nbsp &nbsp &nbsp Wicket
					p &nbsp &nbsp &nbsp GWT
					p &nbsp &nbsp &nbsp RCP\RAP

				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Client JS Frameworks
					p &nbsp &nbsp &nbsp Smart-Client
					p &nbsp &nbsp &nbsp JQuery
					p &nbsp &nbsp &nbsp Backbone
					p &nbsp &nbsp &nbsp Underscore
					p &nbsp &nbsp &nbsp Require.js
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Server JS Frameworks
					p &nbsp &nbsp &nbsp Express
					p &nbsp &nbsp &nbsp Jasmine
					p &nbsp &nbsp &nbsp Socket.io
					p &nbsp &nbsp &nbsp Jade
					p &nbsp &nbsp &nbsp Sequelize
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Python - Frameworks
					p &nbsp &nbsp &nbsp ReportLab
					p &nbsp &nbsp &nbsp OpenObject
					p &nbsp &nbsp &nbsp Django
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Servers
					p &nbsp &nbsp &nbsp Apache
					p &nbsp &nbsp &nbsp Tomcat
					p &nbsp &nbsp &nbsp Node
					p &nbsp &nbsp &nbsp Geronimo
					p &nbsp &nbsp &nbsp JBoss
				li
					a.toggle(href='#')
					h5 &nbsp &nbsp Operating Systems
					p &nbsp &nbsp &nbsp Windows*All
					p &nbsp &nbsp &nbsp BSD
					p &nbsp &nbsp &nbsp Redhat/Centos
					p &nbsp &nbsp &nbsp Archlinux
			h3 &nbsp Soft Skills
			p
				i.icon-asterisk
				|Strong interpersonal, negotiation and influencing skills.
			p
				i.icon-asterisk
				|Ability to clearly and concisely transfer technical and business knowledge to both colleagues and customers.
			p
				i.icon-asterisk
				|Strong understanding and demonstrated commitment to process improvement documentation and information sharing.
			p
				i.icon-asterisk
				|Customer focused.
			p
				i.icon-asterisk
				|Excellent listening skills and empathy.
			p
				i.icon-asterisk
				|Attention to detail.
			p
				i.icon-asterisk
				|Ability to work under pressure.
			p
				i.icon-asterisk
				|Adaptable, results driven, professional and high work standards
			p
				i.icon-asterisk
				|Creative thinker and can demonstrate initiative.
			p
				i.icon-asterisk
				|Flexible

		.two_thirds
			h2 Achievements
			ul.list
				li Designed and implemented a cross agency document management system.
				li Prepared the Business Strategy for a Government Department relating to Business Applications.
				li Documented operational support plans for each application in an application environment.
				li Rationalized Corrections Victoria's Application Server Infrastructure
				li Built Entire Active Directory domain for the Australian Division of MSI
				li Former CTO on a technology startup with 10+ members
		.two_thirds
			h2 Noteable Projects
			ul.noteable
				li
					a.title Lifestyle1 &nbsp
					i.icon-calendar
					a &nbsp 2014
					p Developed the API and CMS  for a fully featured mobile application published on the Apple, Google Play and Windows Phone Store
					a.tech
						strong Technologies:
						| &nbsp Django, Python, TastyPie, Parse, MySQL, JavaScript, S3
				li
					a.title White Ribbon &nbsp
					i.icon-calendar
					a &nbsp 2014
					p Developed a web application with video uploading features that integrated with YouTube API’s
					a.tech
						strong Technologies:
						| &nbsp Django, Python, MySQL, JavaScript, YouTube API
				li
					a.title Intimate &nbsp
					i.icon-calendar
					a &nbsp 2014
					p Acted CTO and lead developer for a technology based startup that required the development of a web scale cross platform mobile chat application.
					a.tech
						strong Technologies:
						| &nbsp NodeJS, JavaScript, MongoDB, HAProxy, Phonegap, S3
				li
					a.title Printzone &nbsp
					i.icon-calendar
					a &nbsp 2013
					p Customize and implement instance of OpenERP to integrate with Australia Post E-Parcel Systems, an existing online store and an accounting package.
					a.tech
						strong Technologies:
						| &nbsp PHP, OsCommerce, Python, OpenObject , MYOB
				li
					a.title I-Supply Electrical &nbsp
					i.icon-calendar
					a &nbsp 2013
					p Developed a fully custom E-Commerce solution that integrated with an existing ERP System.
					a.tech
						strong Technologies:
						| &nbsp Node.js, CoffeeScript, Express.js, MySQL
				li
					a.title Tech Assault 2012
					i.icon-calendar
					a &nbsp 2012
					p Developed a Client server based system to alter the dynamic of ‘Laser Tag  Paintball’ games to enable game modes available in multiplayer computer games to be played out in reality within laser tag and paintball sessions.
					a.tech
						strong Technologies:
						| &nbsp  Java, Tomcat, JavaFX
		.two_thirds
			h2 Employment History
			ul.accordion
				li
					a.toggle(href='#')
					h4
							|Freelance Appliction Developer
							i.icon-star
							|  Envetta
					i
							i.icon-calendar
							|  March 2012 - Present Day
							i.icon-time
							|  Full time
					p Developed custom business applications and performed integrations on a freelance basis  using a wide array of technologies and products.
				li
					a.toggle(href='#')
					h4
							|Application Support Engineer
							i.icon-star
							|  Atlassian
					i
							i.icon-calendar
							|  June 2012 - November 2012
							i.icon-time
							|  Full time
					p Providing  3rd level application support such as system failure analysis and restoration advice to bug fix creation and application to a more than 1 million global clients including high profile companies such as NASA and Apple




				li
					a.toggle(href='#')
					h4
						|Systems Analyst \ Developer
						i.icon-star
						|  Corrections Victoria
					i
						i.icon-calendar
						|  June 2009 - February 2012
						i.icon-time
						|  Full Time - Contract
					p
						p
							a Description
							p Managed a large application environment used by over 3000 users which involved  developing new applications as well as improving existing systems  in a complex and high risk environment.
						p
							a Duties
							p
								p
									i.icon-asterisk
									|Develop improvments and implement bugfixes across a range of languages and technologies
								p
									i.icon-asterisk
									|Application manager of more than 15 business unit applications
								p
									i.icon-asterisk
									|Support contact for multiple layers of systems including Oracle and MS SQL databases
								p
									i.icon-asterisk
									|Corrections Victoria stakeholder representative on I.T Steering Committee
								p
									i.icon-asterisk
									|Manage service delivery of I.T Service Providers
								p
									i.icon-asterisk
									|Providing information management and security co-ordination for all Prison and Head Office file Servers\Databases.
								p
									i.icon-asterisk
									|Problem/Major incident management for supported I.T Systems
								p
									i.icon-asterisk
									|Manage multiple development teams and projects
								p
									i.icon-asterisk|
									|Assist in the architecture and development of Business applications

				li
					a.toggle(href='#')
					h4
						|Application Architect
						i.icon-star
						|  Tech Assault
					i
						i.icon-calendar
						|  June 2009 - February 2010
						i.icon-time
						|  Part Time - Contract
					p
						p
							a Description
							p I was employed by Tech Assault who were developing a system that would provide a better experience to their customers at their gaming venues. My role consisted of managing two developers and assisting with the architectural design of the software and hardware. The project was a success and its implementation increased revenue for the company.
						p
							a Duties
							p
								p
									i.icon-asterisk
									|Direct and manage project development from beginning to end
								p
									i.icon-asterisk
									|Develop full-scale project plans and associated communications documents
								p
									i.icon-asterisk
									|Effectively communicate project expectations to team members and stakeholders in a timely and clear fashion.
								p
									i.icon-asterisk
									|Estimate the resources and participants needed to achieve project goals.
								p
									i.icon-asterisk
									|Draft and submit budget proposals, and recommend subsequent budget changes where necessary.
								p
									i.icon-asterisk
									|Plan and schedule project time lines and milestones using appropriate tools.
								p
									i.icon-asterisk

									|Proactively manage changes in project scope, identify potential crises, and devise contingency plans.
				li
					a.toggle(href='#')
					h4
						|Senior Service Desk Analyst
						i.icon-star
						|  Victorian Department Of Justice
					i
						i.icon-calendar
						|  February 2009 - June 2009
						i.icon-time
						|  Full Time - Contract
					p
						p
							a Description
							p Serving on the Department of Justice Service desk providing support for over 15,000 users across more than 40 different applications
						p
							a Duties
							p
								p
									i.icon-asterisk
									|Provide 2nd level support across multiple business and corporate applications
								p
									i.icon-asterisk
									|Serve as the backup Problem and Major Indecent Manager
								p
									i.icon-asterisk
									|Develop and modify processes to introduce efficiency in Team
								p
									i.icon-asterisk
									|Provide training and development for team members
								p
									i.icon-asterisk
									|Ensure SLA's and OLA's are met
				li
					a.toggle(href='#')
					h4
						|Infrastructure Consultant
						i.icon-star
						|  Microstar International
					i
						i.icon-calendar
						|  October 2008 - November 2008
						i.icon-time
						|  Part Time - Contract
					p
						p
							a Description
							p Contracted by the General Manager of the Australian Division of MSI Computer to resolve Active Directory related issues, lead to the complete redesign and of the entire Active Directory Environments
						p
							a Duties
							p
								p
									i.icon-asterisk
									|Diagnose issues and inefficiencies with existing Infrastructure
								p
									i.icon-asterisk
									|Design and propose a solution to resolve issues

								p
									i.icon-asterisk
									|Implement solution

				li
					a.toggle(href='#')
					h4
						|Service Desk Analyst
						i.icon-star
						|  QBE Insurance
					i
						i.icon-calendar
						|  July 2008 - February 2009
						i.icon-time
						|  Full Time - Contract
					p
						p
							a Description
							p Working on the internal Service Desk providing application and system support 10 000+ users in a variety of platforms including desktop, mainframe and web delivered.
						p
							a Duties
							p
								p
									i.icon-asterisk
									|Provide end to end ownership of all incidents and service requests
								p
									i.icon-asterisk
									|Document new fixes and workarounds and ensure they are added to the Knowledge Base
								p
									i.icon-asterisk
									|Assist in the preparation of monthly statistics and management reports
								p
									i.icon-asterisk
									|Investigate outstanding Help Desk calls according to priority and service levels
								p
									i.icon-asterisk
									|Escalate more involved problems to the appropriate Tier 3 support teams.
								p
									i.icon-asterisk
									|Provide a single view to the organization for information technology related problems.
								p
									i.icon-asterisk
									|Respond to requests for technical assistance by phone, email and/or using a help desk management system.

				li
					a.toggle(href='#')
					h4
						|Server/Desktop Administrator
						i.icon-star
						|  Toyota Material Handling
					i
						i.icon-calendar
						|  February 2007 - July 2008
						i.icon-time
						|  Casual - Volunteer
					p
						p
							a Description
							p I was given a unique opportunity to be  mentored \ trained by a highly qualified and experienced network administrator as part of training arrangement, this provided me with exposure to the I.T industry which I was able to utilize later on to progress my career
						p
							a Duties
							p
								i.icon-asterisk
								|Assisted in desktop roll-outs
							p
								i.icon-asterisk
								|Provided Server support and administration
		.two_thirds
			h2 Certifications
			ul.list
				li
					|  Risk Management in I.T Environments
					i.icon-flag
					|  VMIA
				li ITIL V3 Foundations Certificate 2010
					i.icon-flag
					|  ISEB
				li ITIL V2 Foundations Certificate 2009
					i.icon-flag
					|  Examination Institute for Information Science
				li A+ IT Technician 2008
					i.icon-flag
					|  Dimension Data Learning Solutions
				li Microsoft Certified Desktop Support Technician 2008
					i.icon-flag
					|  Dimension Data Learning Solutions
				li Microsoft Certified Professional 2008
					i.icon-flag
					|  Dimension Data Learning Solutions
				li Certificate II Information Technology 2007
					i.icon-flag
					|  NSW Board of Studies
				li Higher School Certificate 2007
					i.icon-flag
					|  NSW Board of Studies

